.breadcrumb-list>li{
    display: inline;
    margin-left: 0.5%;
    text-rendering: geometricPrecision;
}

.breadcrumb-list{
    background-color: white;
    font-size: 80%;
    margin-bottom: 0px;
    padding: 10px 10px 10px 20px;
}

#overviewTabs li a{
    /*color:#5C5C5C;*/
    color: #5C5C5C;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

#content{
    padding: 10px 10px 10px 20px;
    background: white;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    /*width: 96%;*/
}